{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-sass-guidelines",
    "stylelint-config-standard-scss",
    "stylelint-config-recommended-vue"
  ],
  "customSyntax": "postcss-html",
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "max-nesting-depth": null,
    "selector-max-compound-selectors": null,
    "selector-max-id": null
  }
}
