:root {
  --color-theme-default: #fd0;
  --color-text-default: #3d3d50;
  --color-text-active: #000;
  --color-background: #fff;
  --color-background-skew: #404040;
  --color-background-skew-middle: #ccc;
}

* {
  color: var(--color-text-default);
}

html {
  background-color: var(--color-background);
}

.dark {
  --color-text-default: #ccc;
  --color-text-active: #fff;
  --color-background: #050505;
  --color-background-skew-middle: #333;
}

section {
  text-align: center;

  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

.container {
  box-sizing: border-box;
  font-family: Hind, sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  line-height: 1.818;
  margin: 0 auto;
  max-width: 800px;
  padding: 2em;
  width: 100%;
}

.title-page {
  color: var(--color-theme-default);
  font-family: Lato, sans-serif;
  font-size: 40px;
  letter-spacing: 0.2em;
  transition: opacity 0.3s;
}

.sub-title {
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
