:root {
  --color-theme-default: #ffdd00;
  --color-text-default: #3d3d50;
  --color-text-active: black;
  --color-background: #fff;
  --color-background-skew: #404040;
  --color-background-skew-middle: #ccc;
}

* {
  color: var(--color-text-default);
}

html {
  background-color: var(--color-background);
}

html.dark {
  --color-text-default: #ccc;
  --color-text-active: white;
  --color-background: #050505;
  --color-background-skew-middle: #333;
}

section {
  text-align: center;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.container {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-size: .9375rem;
  line-height: 1.818;
  padding: 2em;
  margin: 0 auto;
  max-width: 800px;
}

.title-page {
  font-family: 'Lato', sans-serif;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  transition: opacity .3s;
  font-size: 40px;
  color: var(--color-theme-default);
  letter-spacing: .2em;
}

.sub-title {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  letter-spacing: .1em;
  text-transform: uppercase;
}

